{{title}}
{{!-- <div> --}}
  {{#each cocktailData}}
  <tr>
    <td>{{cocktailData.name}}</td>
    <td>{{cocktailData.ingredients}}</td>
    <td>{{cocktailData.instructions}}</td>
  </tr>
  {{!-- <div>
    <h1>{{cocktailData.name}}</h1>
  </div>
  <div>
    <h2>{{cocktailData.ingredients}}</h2>
  </div>
  <div>
    <h3>{{cocktailData.instructions}}</h3>
  </div>
</div> --}}
{{/each}}